.form__heading {
    /* font-size: 1.2rem; */
    font-family: inherit;
    color: rgb(44, 233, 92);
    text-transform: uppercase;
}

.form__box {
    margin-top: 20%;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-family: inherit;
    color: inherit;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: rbga(#fff, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 80%;
    display: block;
    transition: all .3s;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); 
    box-sizing: border-box;
}

.form__element {
    text-align: center;
    border: 20px black;
}

.form__parahraph {
    margin-top: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.form__link {
    color: rgb(44, 233, 92);
    text-transform: uppercase;
}