
.Section:target {
    opacity: 1;
    visibility: visible;
}


.section_close:link, .section_close:visited  {
    color: var(--color-white);
    position: absolute;
    text-decoration: none;
    height: 7rem; 
    width: 7rem;
    border-radius: 50%;
    border-left: 1px solid rgba(225, 225, 225, .2);
    border-top: .5px solid rgba(225, 225, 225, .2);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
    font-size: 4.5rem;
    bottom: -9rem;
    right: -36rem;
    transition:  all .2s;
    display: inline-block;
}

@media screen and (max-width: 950px) {
    .section_close:link, .section_close:visited {
        bottom: -12rem;
        right: -7rem;
    }
}

@media screen and (max-width: 550px) {
    .section_close:link, .section_close:visited {
        bottom: -10rem;
        right: -1rem;
    }
}

.section_close:hover {
    color: var(--color-green-primary);
}

.link {
    padding-top: 20px;
    text-align: center;
}
.link a {
    text-decoration: none;
    color: #aaa;
    font-size: 15px;
}