.button__success {
    margin-top: 3rem;
    border: none;
    background-color: #7ed56f;
    border-radius: 10px;
    padding: 0.5rem 2rem;
    margin-left: -.5rem;
    width: 100%;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    
}

.button__danger {
    margin-top: 3rem;
    border: none;
    background-color: #f12d0ad7;
    border-radius: 4px;
    padding: .5rem 11rem;
    margin-left: -7rem;
    width: 100%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
}


.button__success:hover, .button__danger:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); 
    color: rgba(3, 12, 3, 0.404);
  }